<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="styleRedirect.css">
    <title>Redirecting page</title>
</head>
<body onload="setTimeout(()=>window.close(),2000)" style="height:70vh; display: flex;justify-content: center; align-items: center;">
  <div style="width: 350px;display: flex; flex-wrap: wrap; justify-content: center;">
    <div class='redirecting__header'>
      <h1 style="color:white;">Redirecting you back ...</h1> 
    </div>
    <div class="loader redirecting__loader"></div> 
  </div>
  </body>
</html>